/*design for the entire card*/
.card{/*1 property*/
  background-image: url(stripes.jpg);

}
.heading{/*4 properties*/
  font-family: Papyrus;
  color: #24cdd4;30px;
  text-align:center;
  font-size: 400%;
}
.image{/*4 properties*/
  float: left;
  margin-left: 100px;
  width: 350px;
  height: 400px;
}
.note{/*5 properties*/
  position: relative;
  font-family: Papyrus;
  color: #24cdd4;
  text-align:center;
  font-size: 40px;
}
